#Winner{
    background-color: aquamarine;
    color: black;
}
.classA{
    background-color: blueviolet;
    color: aliceblue;
}
/* div{
    background-color: rgb(0, 0, 0);
} */
#atif1{
    background-color: yellow;
}
#atif2{
    background-color: green;
}

